@{
    ViewBag.Title = "Articles";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/blog/articlelist.js")"></script>
}

<h2>Index</h2>


<div id="grid" style="height: 380px"></div>
<div>something else outside of the grid</div>
